<h1>Listing neighborhooods</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @neighborhooods.each do |neighborhoood| %>
  <tr>
    <td><%= neighborhoood.title %></td>
    <td><%= neighborhoood.description %></td>
    <td><%= link_to 'Show', neighborhoood %></td>
    <td><%= link_to 'Edit', edit_neighborhoood_path(neighborhoood) %></td>
    <td><%= link_to 'Destroy', neighborhoood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Neighborhoood', new_neighborhoood_path %>
