<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @neighborhoood.title %>
</p>

<p>
  <b>Description:</b>
  <%= @neighborhoood.description %>
</p>


<%= link_to 'Edit', edit_neighborhoood_path(@neighborhoood) %> |
<%= link_to 'Back', neighborhooods_path %>
